<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="evrete" title="msg://gr.netmechanics.jmix.evrete/menu.addon">
		<item view="evrete_RuleSet.list" title="msg://gr.netmechanics.jmix.evrete.view.ruleset/ruleSetListView.title"/>
		<item view="evrete_RuleSetExecutionLog.list"
			  title="msg://gr.netmechanics.jmix.evrete.view.rulesetexecutionlog/ruleSetExecutionLogListView.title"/>
	</menu>

</menu-config>
